:root{
	--violet:#211C59;
	--white:#ffffff;
	--black:#00000033;
	--green:#45a049;
	--greenish:#2a9d8f;
	--darkgreen:#1e7a61;
	--orange:#f39c12;
	--blue:#0056b3;
	--transparent-black:#0000001A;
	--grey:#555;
	---mediumgrey:#666;
	--skyblue:#4343DD;
	--darkgrey:#333;

}
body{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body, html {
	font-family: Arial, sans-serif;
	overflow: scroll;
	background-color: var(--white);
    color: var(--darkgrey);
	height: 100%;

}
.rounded-logo{border-radius: 50%;}
.header {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	background-color:var(--violet);
	color: var(--white);
	padding: 15px;
	text-align: center;
	display: flex;
	z-index: 1000;
	overflow: visible;
	height:120px;
}
.header a{
	float: left;
	text-align: center;
	text-decoration: none;
	cursor: pointer;
}
.header img{max-width:120px;}
input.form-control{width: 500px;}
.footer {
	position: relative;
	top:80px;
	left: 0;
	width: 100%;
	background-color:var(--violet);
	color:var(--white);
	padding: 15px;
	text-align: center;
	height: 80px;
}
.content {
	padding: 60px 20px 60px 20px; 
	height: calc(100% - 120px); 
	overflow-y: auto;
}
.navbar-content a:hover {
	background-color: #ddd;
}
.navbar-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.navbar-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	z-index: 1;
}	
.profilecard{padding:120px;}

/* .dropdown{overflow: visible;position: absolute;float:left;} */
.dropdown .dropbtn {
	font-size: 16px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}
.dropdown:hover .navbar-content {
	display: inline-block;
}    

.dropdown:hover .dropdown-menu{display: inline-block;}

.sub-navbar {
    position: relative;
}

.sub-navbar-content {
    display: none; /* Hidden by default */
    position: absolute;
    left: 100%; /* Position it next to the "Login" option */
    top: 0;
    background-color: var(--white);
    min-width: 160px;
    box-shadow: var(--black);
    z-index: 1;
}

/* Show the sub-navbar when hovering over the "Login" option */
.sub-navbar:hover .sub-navbar-content {
    display: block;
}
.category{cursor: pointer;}
.category .category-image{width: 100px;height: 95px;object-fit: cover; }
.dropdown-menu {
    margin-top: 5px;
    padding: 5px;
    width: 100%;
}

.modal {
  
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:var(--black);
}

.enlarge-on-hover{width: 200px;height: auto; transition: transform 0.3s ease;}
.enlarge-on-hover:hover{
	transform :scale(1.5);
}

.a-price-symbol {
	font-size: 1.5em;  /* Adjust the size of the currency symbol */
	font-weight: bold;  /* Make the currency symbol bold */
	color: var(--darkgrey) ; /* Set color */
  }
  
  .a-price-whole {
	font-size: 1.5em;  /* Adjust price size */
	font-weight: bold;  /* Make the price bold */
	color: #ff5722;  /* Set color for the price */
  }


.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 400px;
    box-shadow: var(--black);
}


  /* modal css */
.modal {
	display: none; 
	position: fixed; 
	z-index: 1; 
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: var(--black); 
  }
  
  .error-message{color:red;}
  .custom-modal {
	background-color: #fff;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 600px !important;
	height: 350px;
	border-radius: 8px;
  }
  .bottomlink{margin-top: 22px;}
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
	color: var(--black);
	text-decoration: none;
	cursor: pointer;
  }
  
  .input-container {
	margin-bottom: 15px;
  }
  
  input {
	width: 100%;
	padding: 8px;
	margin-top: 5px;
	border: 1px solid #ccc;
	border-radius: 4px;
  }
  
  .buttonlogin {
	background-color: #4CAF50;
	color: var(--white);
	padding: 10px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
  }
  
  
	/*modalcss end  */

	/* checkout page css */

	.checkout-col-12 {
		width: 100%;
		max-width: 600px;
		background-color: var(--white);
		padding: 5% !important;
		border-radius: 8px;
		box-shadow: 0 2px 10px var(--transparent-black);
	}

	.checkout-item {
		margin-bottom: 20px;
	}
	
	.checkout-item label {
		font-weight: bold;
		display: block;
		margin-bottom: 8px;
	}
	
	.checkout-item input,
	.checkout-item select {
		width: 100%;
		padding: 10px;
		font-size: 16px;
		border: var(--white);
		border-radius: 4px;
		box-sizing: border-box;
	}
	
	
	
	.pay-now-btn {
		background-color:var(--green);
		color:var(--white);
		padding: 15px;
		font-size: 18px;
		border: none;
		border-radius: 4px;
		cursor: pointer;
		width: 100%;
		box-sizing: border-box;
	}
	
	.pay-now-btn:hover {
		background-color: var(--green);
	}
	/* checkout css end */

	/* confirmationpage css */

	/* General styling for the order details container */
	.order-details {
		background-color: var(--white); /* Light background */
		padding: 20px;
		margin-bottom: 20px;
		border-radius: 8px; /* Rounded corners */
		box-shadow: 0 4px 8px var(--transparent-black);
		font-family: Arial, sans-serif;
	}

	.order-item {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: space-between;
	}

	/* Styling for the image container */
	.order-item img {
		max-width: 120px;
		border-radius: 8px;
		margin-right: 15px;
	}

	/* Styling for the product information */
	.order-item h5 {
		font-size: 1.2rem;
		color:var(--darkgrey);
		margin-bottom: 5px;
	}

	/* Price styling */
	.order-item .a-price-symbol {
		font-size: 1.2rem;
		font-weight: bold;
		color:var(--greenish); /* Price color */
	}

	.order-item .a-price-whole {
		font-size: 1.5rem;
		font-weight: bold;
		color:var(--greenish); /* Price color */
	}

	/* Styling for the estimated delivery date */
	.order-item p {
		font-size: 1rem;
		color: var(---mediumgrey);
		margin-top: 10px;
	}

	/* Styling for the track button */
	.track-button {
		background-color:var(--greenish); /* Greenish color */
		color: var(--white);
		font-size: 1rem;
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}

	/* Button hover effect */
	.track-button:hover {
		background-color: var(--darkgreen); /* Darker green on hover */
	}
	.confirmDelivery{
		background-color:var(--violet); /* Greenish color */
		color: var(--white);
		font-size: 1rem;
		padding: 10px 15px;
		border: none;
		border-radius: 5px;
		cursor: pointer;
		transition: background-color 0.3s ease;
	}
	.confirmDelivery{
		background-color: var(--darkgreen);
	}
	


.product-detail {
    display: flex;
    background-color:var(--white);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px var(--black);
    width: 100%;
    padding: 20px;
}

.product-image img {
    max-width: 80%;
    border-radius: 8px;
}

.product-info {
    margin-left: 20px;
    flex: 1;
}

.product-name {
    font-size: 2rem;
    margin: 0;
    color:var(--darkgrey);
}


.detail-item-head{color: var(--skyblue)}

.product-rating {
    margin-top: 10px;
    font-size: 1.2rem;
    color:var(--orange);
}

.star {
    font-size: 1.5rem;
    color:var(--white);
}

.star.rated {
    color: var(--orange);
}

.rating-text {
    font-size: 1rem;
    color: var(--grey);
    margin-left: 10px;
}
.star {
  font-size: 30px;
  color: grey;
  cursor: pointer;
}
.star.one,
.star.two,
.star.three,
.star.four,
.star.five {
  color: gold;
}




.product-price {
    font-size: 1.5rem;
    color: var(--orange);
    font-weight: bold;
    margin-top: 20px;
}

.add-to-cart {
    background-color: var(--orange);
    color:var(--white);
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
}

.add-to-cart:hover {
    background-color:var(--orange);
}
	/* end */

/* register form css */
.registerbtn ,.sellerRegisterbtn{
	border-radius: 15px;
	color:var(--white);
	background-color:var(--green);
	
}
/* end */

/* product detail page css  */
.img-size{height: 700px;}
.displaycolorcode{
	display:inline-block;
	width:20px;height:20px;
	border:1px solid var(--black);
	margin-right:5px;
	}
/* end */

/* sample */
 .main-content{height:500px;}
    .card-container {
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      justify-content: center;
    }

    .card {
      background-color:var(--white);
      border-radius: 12px;
      box-shadow: 0 4px 8px var(--transparent-black);
      width: 300px;
      padding: 20px;
      transition: transform 0.3s ease, box-shadow 0.3s ease;
    }

    .card:hover {
      transform: translateY(-5px);
      box-shadow: 0 8px 16px ;
    }

    .card h3 {
      margin-bottom: 10px;
      font-size: 1.4em;
    }

    .card p {
      margin-bottom: 15px;
      color:var(--grey);
    }

   
    .card button:hover {
      background-color: var(--blue);
	}

	 .dashboard-cards {
    display: flex;
    gap: 20px;
    margin-bottom: 40px;
  }
 
.carousel-item img {
  object-fit: cover;
  height:100vh;
}

 .sub-content{
	position:absolute !important;
	top:0 !important;
	width:100% !important;
	z-index:2222 !important;
	display:inline !important;
 }